extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Maria Mihaila

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | In the past year I have acquainted myself with JavaScript through an online course and I have also changed my educational path by applying and getting accepted
          | at a masters program called 'E-business', provided by The Economical Studies Academy of Bucharest. For the latter I studied SQL and C languages
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Express
          li AJAX
          li HTML
          li CSS
          li REGEX
          li Java
        h6 Contact Info

        //- Add your own contact info
        ul
          li 072-781-2345
          li maria.mihaila.17@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/maria-luiza-mihaila-4397a5aa/') LinkedIn
        a.button.expanded(href='https://github.com/Lionessm') GitHub
        a.button.expanded(href='https://www.facebook.com/mihaila.maya') Facebook
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  