extends layout.pug

block content
  #logo_homepage
    img(src='http://localhost:3000/static/images/logo.png')

  article.grid-container.portfolio-intro
    div

      h1 My Portfolio

      p.lead.text-light
        | This Portfolio aims to showcase my work so far as a junior web developer. Enjoy and hopefully, be enticed to hire me!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      // Showcases projects
      each project in projects
        .cell
          a(href=`http://localhost:3000/project/${project.id}`)
            img.thumbnail(src=`http://localhost:3000/static/images/${project.image_urls[0]}`)
            h5= `${project.project_name}`



      
