extends layout.pug

block content
    #logo
        img(src='http://localhost:3000/static/images/logo.png')

    h1.error_message= 'Page not found'
    p.error_details= reason
    p.error_details= error.message
    p.error_details= error.status
    div
        img.errorCat(src='http://localhost:3000/static/images/404errorCat.jpg')
