
h1,h2,h3,h4,h5,p{
  font-family: Courier, serif;
}

  h5{
    font-family: Courier, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
    font-family: Courier, sans-serif;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #4397E6;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #fff;
    font-family: Courier, sans-serif;
  }

  .portfolio-me a{
    font-family: Courier, sans-serif;
    font-weight: 600;
    color: #43E691;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }


  .portfolio-me a:hover{
    color: #E64397;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: Courier, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
   color: #43E691;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;

}
.portfolio-intro h1{
  color: #E64397;
  font-family: Courier, sans-serif;

}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
  font-family: Courier, sans-serif;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
  background-color:#fff;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
      color: #E64397;
      font-family: Courier, sans-serif;
    }

.portfolio-meta{
  padding-left: 20px;
}

.portfolio-meta a{
  background-color: #E64397 ;
}

.portfolio-meta a:hover{
  background-color: #43e691;
}

.portfolio-meta h6{
  color:#E64397;
}
  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
  font-family: Courier, sans-serif;
}

.portfolio-bio{
    line-height: 25px;
}

.error_message{
  padding-left: 60px;
  padding-top: 20px;
}

.errorCat{
  padding-left: 40px;
}

.error_details{
  padding-left: 60px;
}

#logo_homepage {
  width: 230px;
  height: auto;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

#logo {
  width: 70px;
  height: auto;
  float: right;
  margin-top: 7px;
  display: block;
  text-align: right;
  margin-right: 40px;
}
